main {
  grid-area: m;
  min-height: 100vh;
  background-color: #0c1622;

  .main__container {
    width: 100%;
    max-width: 1150px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) and (max-width: 1540px) {
  main {
    .main__container {
      width: 100%;
      max-width: 1140px;
      padding-left: 50px;
      padding-right: 50px;
      margin: 0 auto;
      padding-top: 38px;
      margin-top: 68px;
    }
  }
}

@media (min-width: 1540px) {
  main {
    .main__container {
      width: 100%;
      max-width: 1520px;
      padding-left: 100px;
      padding-right: 100px;
      margin: 0 auto;
    }
  }
}

@media (max-width: 450px) {
  main {
    .main__container {
      max-width: 300px;
      padding-left: 25px;
      padding-right: 25px;
    }
  }
}
