footer {
  background-color: #11161c;
  height: 100px;
  grid-area: f;
  color: #a0b1c5;
  font-family: "overpass", sans-serif;
  font-weight: 600;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  .footer__container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 1140px;

    .footer__content {
      width: 100%;
      height: 100%;
    }
  }
}